body {
  background: #e6eaf1;
}
.header pre {
  font-size: 20px;
  text-align: center;
  margin:100px auto;

  font-family: cursive;
}
.container {
}
.player {
  background-color: white;
  width:600px;
  height:230px;
  margin:10px auto;
  position:relative;
}
.player-img {
  width:230px;
  height:200px;
  position:absolute;
  left:10px;
  top:50%;
  transform: translate(0,-50%);
  padding:10px;

}
.player-img img {
  height:100%;
}
.player-detail {
  position:absolute;
  left:250px;
  width:300px;
  height:90%;
  margin:10px;
}
.player-info {
  display:block;
  height:20%;
  width:100%;

}
.player-words {
  width:100%;
  height:80%;
}

.player-control {
  position:absolute;
  right:10px;
  width:100px;
  height:90%;
}
.player-control-play {
    margin-top: 10px;
}
]
.icon-play {
  line-height: 90px;

  position: absolute;
  left: 50%;



  cursor: pointer;
}
button {
  display:block;
  height:50px;
  margin:30px auto;
  background-color: white;
  border:none;
}
